@use "mixins" as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-pic {
    padding: 14px;
    img {
      @include shadow(lg);
      cursor: pointer;
      border-radius: 50%;
      object-fit: cover;
      height: 100px;
      width: 100px;
      transition: all 0.3s ease;

      &:hover {
        scale: 1.1;
      }
    }
  }
  .name {
    font-size: 16px;
    font-weight: 500;
  }
  .role {
    font-size: 12px;
  }
}

@include breakpoint(sm) {
  .profile {
    .profile-pic {
      padding: 12px;
      img {
        height: 80px;
        width: 80px;
      }
    }
    .name {
      font-size: 14px;
    }
  }
}
