@use "mixins" as *;

::ng-deep {
  .header-form {
    .input-wrapper {
      border-color: black !important;
      .animated-placeholder {
        color: black !important;
      }
    }
  }
}

.header {
  padding: 20px;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  @include shadow(lg);

  .heading {
    font-size: 26px;
    font-weight: 600;
    color: #111;
  }

  form {
    min-width: 500px;
  }
}

@include breakpoint("md") {
  .header {
    .heading {
      font-size: 20px;
    }
    form {
      font-size: 14px;
      width: 100%;
      min-width: 0;
    }
  }
}

@include breakpoint("sm") {
  .header {
    padding: 10px;
  }
}
