@use "mixins" as *;

.header {
  padding: 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .heading {
    font-size: 26px;
    font-weight: 600;
    color: #111;
  }

  form {
    min-width: 500px;
  }
}

@include breakpoint("md") {
  .header {
    .heading {
      font-size: 20px;
    }
    form {
      font-size: 14px;
      width: 100%;
      min-width: 0;
    }
  }
}

@include breakpoint("sm") {
  .header {
    padding: 10px 10px 0;
  }
}
