@use "mixins" as *;
@use "variables" as *;

:host {
  display: block;
}

.form-group {
  width: 100%;
}

.p-inputtext {
  padding: 4px 10px;
  font-size: 16px;
  background-color: $white;
  width: 100%;
}

.p-inputtext:focus {
  box-shadow: none;
}

.input-wrapper {
  position: relative;
  border: 1px solid $gray-200;
  border-radius: 10px;
  @include truncate(1);
}

.password-wrapper input {
  padding-right: 32px;
}

.password-toggle,
.cross-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cross-icon {
  &:hover {
    scale: 1.1;
    top: 53%;
  }
}

.has-icon input {
  padding-left: 32px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.disabled-label {
  opacity: 0.6;
}

.required-star {
  color: red;
  margin-left: 2px;
}

/* 🔥 Animated Placeholder */
.animated-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  gap: 3px;
  font-size: 14px;
  color: #999;
  pointer-events: none;
  left: 12px;

  &.has-icon {
    left: 32px;
  }
}

.static-text {
  white-space: nowrap;
}

.keyword-container {
  position: relative;
  height: 18px;
  overflow: hidden;
  display: inline-block;
  flex: 1;

  .keyword {
    position: absolute;
    transform: translateY(0);
    transition: all 0.4s ease;
    &.slideDown {
      transform: translateY(100%);
    }
  }
}

@include breakpoint("sm") {
  .p-inputtext {
    font-size: 14px;
  }
}
