<div class="carousel">
  <div class="header" *ngIf="showTitle">
    <h2>{{ title }}</h2>
    <button class="see-more-btn" (click)="emitKey()" *ngIf="showSeeMore">
      See More <i class="pi pi-arrow-right"></i>
    </button>
  </div>

  <div class="carousel-wrapper" *ngIf="hasContent; else skeletonLoader">
    <div class="fade left" [class.active]="showLeftFade" [ngClass]="fadeColor"></div>
    <div class="fade right" [class.active]="showRightFade" [ngClass]="fadeColor"></div>

    <div class="carousel-container" #scrollContainer (scroll)="onScroll()">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<ng-template #skeletonLoader>
  <app-skeleton-loader
    [config]="{
      items: [
        {
          type: 'rect',
          count: 20,
          width: commonService.isMobile ? '110px' : '180px',
          height: commonService.isMobile ? '165px' : '270px',
          direction: 'row',
          overflow: 'auto',
        },
      ],
    }"
  ></app-skeleton-loader>
</ng-template>
