<div class="carousel">
  <h2>{{ title }}</h2>

  <div class="carousel-wrapper" *ngIf="hasContent; else skeletonLoader">
    <div class="fade left" [class.active]="showLeftFade"></div>
    <div class="fade right" [class.active]="showRightFade"></div>

    <div class="carousel-container" #scrollContainer (scroll)="onScroll()">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<ng-template #skeletonLoader>
  <app-skeleton-loader
    [config]="{
      items: [
        {
          type: 'rect',
          count: 20,
          width: commonService.isMobile ? '110px' : '180px',
          height: commonService.isMobile ? '166px' : '250px',
          direction: 'row',
          overflow: 'auto',
        },
      ],
    }"
  ></app-skeleton-loader>
</ng-template>
