<div class="details-wrapper">
  <app-scroll-indicator
    color="#ffffff"
    [bottom]="commonService.isMobile ? '45%' : '10%'"
    size="32px"
  />

  <div class="hero-spacer"></div>

  <div class="backdrop">
    <div class="white-overlay"></div>
    <img
      [src]="imageBase + '/w1280' + details.backdrop_path"
      loading="lazy"
      *ngIf="!commonService.isMobile"
    />
    <img
      [src]="imageBase + '/w1280' + details.poster_path"
      loading="lazy"
      *ngIf="commonService.isMobile"
    />

    <h1
      class="movie-title text-wrap"
      #movieTitle
      *ngIf="!commonService.isMobile"
    >
      {{ details.title || details.name }}
    </h1>
  </div>

  <div class="content">
    <div class="movie-details container">
      <div class="row g-4 align-items-start">
        <!-- Poster -->
        <div class="col-lg-4 col-md-5 poster-col">
          <div class="poster" #posterCard>
            <img
              [src]="imageBase + '/w342' + details.poster_path"
              [alt]="details.title"
              loading="lazy"
            />
          </div>
        </div>

        <!-- Content -->
        <div class="col-lg-8 col-md-7 details-right-section">
          <div class="top-header">
            <div class="poster-mobile">
              <img
                [src]="imageBase + '/w92' + details.poster_path"
                [alt]="details.title"
                class="rounded shadow-sm"
              />
            </div>
            <div class="header-content">
              <h1 class="title">
                {{ details.title || details.name }}
              </h1>

              <!-- meta -->
              <div class="meta d-flex flex-wrap align-items-center">
                <div *ngIf="mediaType === 'movie'" class="value">
                  {{ runtime }}
                </div>

                <span class="dot" *ngIf="mediaType === 'movie'">•</span>

                <div class="value">
                  {{ languageNames }}
                </div>

                <span class="dot">•</span>

                <app-rating [rating]="details.vote_average"></app-rating>
              </div>

              <div
                class="info-item stagger-item genre-section full-width small-screen"
              >
                <div class="label">Genre</div>

                <div class="value genres-list scroll-container">
                  <div class="value chip" *ngFor="let genre of details.genres">
                    {{ genre.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- plot -->
          <div class="section">
            <div class="label">Plot</div>

            <p class="value">
              {{ details.overview }}
            </p>
          </div>

          <!-- grid info -->
          <div class="info-grid">
            <div class="info-item">
              <div class="info-row stagger-item">
                <div class="info-item">
                  <div class="label">Release Date</div>
                  <div class="value">
                    {{
                      details.release_date || details.first_air_date
                        | date: "EEE, dd MMM yyyy"
                    }}
                  </div>
                </div>

                <div class="wrap-unit" *ngIf="mediaType === 'movie'">
                  <div class="info-item">
                    <div class="label">Budget</div>
                    <div class="value">
                      {{
                        details.budget | currency: "USD" : "symbol" : "1.0-0"
                      }}
                    </div>
                  </div>

                  <div class="info-item">
                    <div class="label">Collection</div>
                    <div class="value">
                      {{
                        details.revenue | currency: "USD" : "symbol" : "1.0-0"
                      }}
                    </div>
                  </div>
                </div>

                <div class="wrap-unit" *ngIf="mediaType === 'tv'">
                  <div class="info-item">
                    <div class="label">Total Seasons</div>
                    <div class="value">
                      {{ details.number_of_seasons }}
                    </div>
                  </div>

                  <div class="info-item">
                    <div class="label">Status</div>
                    <div class="value">
                      {{ details.status }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="info-item stagger-item genre-section full-width large-screen"
            >
              <div class="label">Genre</div>

              <div class="value genres-list scroll-container">
                <div class="value chip" *ngFor="let genre of details.genres">
                  {{ genre.name }}
                </div>
              </div>
            </div>

            <div class="info-item stagger-item full-width">
              <div class="label">Production Houses</div>

              <div class="prod-house-container scroll-container">
                <ng-container
                  *ngFor="let house of details.production_companies"
                >
                  <div
                    class="house-info"
                    *ngIf="house.logo_path"
                    [title]="house.name"
                  >
                    <img
                      [src]="imageBase + '/w45' + house.logo_path"
                      loading="lazy"
                    />
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="seasons-section stagger-item mt-4" *ngIf="mediaType === 'tv'">
        <div class="chip-section">
          <ng-container *ngFor="let season of details.seasons">
            <div
              class="chip text-nowrap"
              [class.selected]="selectedSeason.id === season.id"
              *ngIf="season.season_number !== 0"
              (click)="onSeasonClick(season)"
            >
              {{ season.name }}
            </div>
          </ng-container>
        </div>
        <div class="season-info">
          <div class="left">
            <img
              [src]="imageBase + '/w92' + selectedSeason.poster_path"
              loading="lazy"
              alt="season poster"
            />
          </div>
          <div class="right">
            <app-rating [rating]="selectedSeason.vote_average"></app-rating>
            <p>
              <span class="label">Total episodes - </span>
              {{ selectedSeason.episode_count }}
            </p>
            <p *ngIf="selectedSeason.overview">
              <span class="label">Overview - </span
              >{{ selectedSeason.overview }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
