<div class="global-container">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
  <app-splash *ngIf="showSplash" (finished)="onSplashFinished()"></app-splash>
  <app-loader *ngIf="commonService.isLoading && !showSplash"></app-loader>
  <button
    *ngIf="showInstallButton && !showSplash && commonService.isAndroidOrIOS()"
    class="pwa-install-btn"
    (click)="installPwa()"
  >
    <i class="pi pi-download"></i> Install {{ COMMON.APP_NAME }}
  </button>
  <app-network-indicator></app-network-indicator>
</div>
