@use "mixins" as *;

.rating {
  background: black;
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  width: fit-content;
}

@include breakpoint(sm) {
  .rating {
    padding: 2px 6px;
  }
}
