@use "mixins" as *;
@use "variables" as *;

.rating {
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 700;
  font-size: 12px;
  color: $white;
  width: fit-content;

  &.good {
    background: linear-gradient(180deg, #43c943 0%, #28a628 45%, #1e7e1e 100%);
  }
  &.avg {
    background: linear-gradient(180deg, #ff8c42 0%, #ff4500 45%, #cc3700 100%);
  }
  &.bad {
    background: linear-gradient(180deg, #ff4d6d 0%, #dc143c 45%, #a10f2b 100%);
  }
}

@include breakpoint(sm) {
  .rating {
    padding: 2px 6px;
  }
}
