@use "mixins" as *;
@use "variables" as *;

.rating {
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 700;
  font-size: 12px;
  color: $white;
  width: fit-content;

  &.good {
    background-color: #28a628;
  }
  &.avg {
    background-color: orangered;
  }
  &.bad {
    background-color: crimson;
  }
}

@include breakpoint(sm) {
  .rating {
    padding: 2px 6px;
  }
}
