<div class="hero-wrapper">
  <div class="hero" *ngIf="items.length; else skeletonLoader">
    <div class="slider">
      <div
        class="slide"
        *ngFor="let item of items; let i = index"
        [ngClass]="getSlideClass(i)"
        (mouseenter)="onHover(item, i)"
        (mouseleave)="onLeave()"
      >
        <img
          *ngIf="hoveredId !== item.id"
          [priority]="i === 0"
          [ngSrc]="item.backdrop_path"
          ngSrcset="780w, 1280w, 1920w"
          sizes="(max-width: 768px) 100vw, 60vw"
          width="1280"
          height="720"
          [alt]="item.title || item.name || 'Hero Backdrop'"
        />
        <iframe
          *ngIf="hoveredId === item.id && trailers[item.id]"
          [src]="trailers[item.id]"
          frameborder="0"
          allow="autoplay"
        ></iframe>
      </div>
    </div>

    <div class="overlay">
      <div class="bottom-child">
        <h1>{{ items[currentIndex].title || items[currentIndex].name }}</h1>
        <p *ngIf="!commonService.isMobile">
          {{ items[currentIndex].overview }}
        </p>
        <div class="actions" *ngIf="!commonService.isMobile">
          <button>▶ Play</button>
          <button>+ Watchlist</button>
        </div>
      </div>
    </div>

    <button class="nav left" (click)="prev()" aria-label="Previous Slide">
      <i class="pi pi-angle-left"></i>
    </button>
    <button class="nav right" (click)="next()" aria-label="Next Slide">
      <i class="pi pi-angle-right"></i>
    </button>
  </div>

  <div class="dots">
    <span
      *ngFor="let item of items; let i = index"
      [class.active]="i === currentIndex"
      (click)="setSlide(i)"
      role="button"
      [attr.aria-label]="'Go to slide ' + (i + 1)"
      [attr.aria-current]="i === currentIndex"
    ></span>
  </div>
</div>

<ng-template #skeletonLoader>
  <app-skeleton-loader
    [config]="{
      items: [
        {
          type: 'rect',
          width: '100%',
          height:
            commonService.isTablet || commonService.isMobile ? '53vw' : '75vh',
        },
      ],
    }"
  ></app-skeleton-loader>
</ng-template>
