@use "variables" as *;

.splash-screen {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #bba86e);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  overflow: hidden;
  padding: 0 40px;

  .bg-text {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 200px;
    font-weight: 600;
    color: $white;
    opacity: 0.4;
    display: flex;
    gap: 6px;

    .letter {
      display: inline-block;
    }
  }

  .app-name {
    position: absolute;
    color: #00000080;
    font-size: 14px;
    bottom: 20px;
    z-index: 10;
  }

  .logo-wrapper {
    position: relative;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;

    .logo-img {
      width: 100%;
      height: auto;
      object-fit: contain;
      z-index: 10;
    }
  }
}
