@use "mixins" as *;

.dashboard {
  background: #f8fafc;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  .movie-bank {
    height: 63px;
  }
  .section {
    will-change: transform, opacity;
  }
}
