<div id="smooth-wrapper">
  <div class="dashboard" id="smooth-content">
    <app-hero-carousel
      class="hero-carousel"
      [items]="data['heroCarousel'] ?? []"
      #heroRef
    ></app-hero-carousel>

    <ng-container *ngFor="let section of sections">
      <div #sectionRef class="section-wrapper" *ngIf="isVisible(section)">
        <app-carousel
          [title]="section.title"
          [keyToEmit]="section.key"
          (onSeeMore)="seeMore($event)"
        >
          <ng-container
            *ngFor="let item of data[section.key] ?? []; trackBy: trackById"
          >
            <app-movie-card
              *ngIf="item?.poster_path"
              [movie]="item"
              (click)="navigateToDetailsPage(item)"
            ></app-movie-card>
          </ng-container>
        </app-carousel>
      </div>
    </ng-container>
  </div>
</div>
