<div id="smooth-wrapper">
  <div class="dashboard" id="smooth-content">
    <app-hero-carousel
      class="hero-carousel"
      [items]="data['heroCarousel'] ?? []"
      #heroRef
    ></app-hero-carousel>

    <ng-container *ngFor="let section of sections; let i = index">
      <div class="section" #sectionRef [class.first-section]="i === 0">
        <app-carousel [title]="section.label">
          <app-movie-card
            *ngFor="let item of data[section.key]; trackBy: trackById"
            [movie]="item"
            [type]="item.media_type"
            (click)="navigateToDetailsPage(item)"
          >
          </app-movie-card>
        </app-carousel>
      </div>
    </ng-container>
  </div>
</div>
